@{
    ViewBag.Title = ViewBag.Heading;
}

@section Styles{
    <link href="@Url.Content("~/css/Home/About.css")?p=2020-10-10-a" rel="stylesheet" type="text/css" />
}

<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
