
@{
	ViewBag.Title = "Правила оценки";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Правила оценки</h1>

<div style="font-size: larger; padding-left: 20px">
	Алгоритм рейтинга пользователей(5 балльная система):<br />
	<br />
	1. Аккаунт подтвержден<br />
	Максимальный балл по этому критерию - 1<br />
	<br />
	2. За время существования юридического лица или индивидуального предпринимателя.<br />
	(Начисляется по 0,1 балла за каждые 110 дней с момента регистрации по данным ЕГРЮЛ или ЕГРИП).<br />
	Максимальный балл по этому критерию - 1<br />
	<br />
	3. За давность регистрации в M-Contract<br />
	(Начисляется по 0,1 балла за каждые 150 дней с момента регистрации в M-Contract).<br />
	Максимальный балл по этому критерию - 0,5<br />
	<br />
	4. За активную деятельность в M-Contract<br />
	(Правила расчета: 0,5 балла начисляется, если давность последнего платежа составляет не более 120 дней)<br />
	Максимальный балл по этому критерию – 0,5<br />
	<br />
	5. Оценка пользователей<br />
	(Правила расчета: после каждой сделки(контракта), участники- и покупатель и продавец могут оценить друг друга,<br />
	что в итоге повлияет на итоговый рейтинг пользователя. Где<br />
	1 – контракт не состоялся, по явной вине второй стороны<br />
	2 – сильные нарушения условий<br />
	3 – незначительные нарушения<br />
	4 – условия не нарушены<br />
	5 – надежный партнер<br />
	За полученную оценку 1 или 2 с пользователя будет сниматься 0,1 балла с итогового рейтинга. За 3 – рейтинг остается без<br />
	изменений, а за 4 или 5 прибавляется 0,1 балла к рейтингу<br />
</div>