
@{
    ViewBag.Title = "Повторная отправка запроса для подтверждения регистрации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Повторная отправка запроса для подтверждения регистрации</h2>

