
@{
    ViewBag.Title = "Задать новый пароль";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="@Url.Content("~/css/User/Login.css")?p=2020-08-16_21-55" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/User/Signup.css")?p=2020-08-16_21-55" rel="stylesheet" type="text/css" />
}

<!-- Вход -->
<section class="log__page__wrapper">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Задать новый пароль</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3"></div>

        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-sm-12 col-md-6 input__col">
                <div class="input__wrapper">
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" placeholder=" " name="Password" required onblur="checkPassword();" autocomplete="off" onfocus="this.removeAttribute('readonly');" readonly>
                    <span class="about-input">
                        Пароль должен содержать от 6 до 24 символов, хотя бы один из которых - цифра
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <span id="needPasswordSpan" class="needFieldSpan">Поле "Пароль" обязательно для заполнения</span>
                <span id="invalidPasswordSpan" class="invalidFieldSpan">Пароль должен содержать от 6 до 24 символов, хотя бы один из которых - цифра</span>
                <img id="checkedPasswordIcon" class="checkedFieldIcon" src="/ico/CheckmarkGreen.svg">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-sm-12 col-md-6 input__col">
                <div class="input__wrapper">
                    <label for="passwordRepeat">Повторить пароль:</label>
                    <input type="password" id="repeatPassword" placeholder=" " name="RepeatPassword" required onblur="checkRepeatPassword();" autocomplete="off" onfocus="this.removeAttribute('readonly');" readonly />
                </div>
            </div>
            <div class="col-md-3">
                <span id="needRepeatPasswordSpan" class="needFieldSpan">Поле "Повторите пароль" обязательно для заполнения</span>
                <span id="invalidRepeatPasswordSpan" class="invalidFieldSpan">Пароли должны совпадать</span>
                <img id="checkedRepeatPasswordIcon" class="checkedFieldIcon" src="/ico/CheckmarkGreen.svg">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-sm-12 col-md-6 input__col">
                <div class="input__wrapper btn__wrapper">
                    <button class="btn btn__register" id="resetpassword" onclick="checkResetPassword();"> <span>Сменить пароль</span> </button>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
<!-- // Вход-->

<script src="~/js/jquery.maskedinput.js" type="text/javascript"></script>
<link href="~/js/jquery-ui/jquery-ui.css?p=202006112" rel="stylesheet" type="text/css" />
<script src="~/js/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="~/js/user/cityAutocomplete.js?p=20200624" type="text/javascript"></script>
<script>

    function checkPassword() {
        var fieldName = $("#password").attr("name");
        if (checkIsNotEmptyAndSetTipVisibility($("#password"))) {
            if ($("#repeatPassword").val().length != 0) {
                checkRepeatPassword();
			}
			var password = $('#password').val();
			var hasDigits = /[0-9]/.test(password);
			if (password.length >= 6 && password.length <= 24 && hasDigits) {
				$('#checked' + fieldName + 'Icon').siblings().hide();
				$('#checked' + fieldName + 'Icon').show();
			}
			else {
				$('#invalidPasswordSpan').show();
			}

            return true;
        }
        else {
            return false;
        }
    };

    function checkRepeatPassword() {
        var fieldName = $("#repeatPassword").attr("name");
        if (checkIsNotEmptyAndSetTipVisibility($("#repeatPassword"))) {
            if ($("#repeatPassword").val() == $("#password").val()) {
                $('#checked' + fieldName + 'Icon').siblings().hide();
                $('#checked' + fieldName + 'Icon').show();
                return true;
            }
            else {
                $("#invalid" + fieldName + "Span").siblings().hide();
                $("#invalid" + fieldName + "Span").show();
                return false;
            }
        }
        else {
            return false;
        }
    };
    function checkIsNotEmptyAndSetTipVisibility(obj) {
        var fieldName = obj.attr("name");
        if (obj.val().length == 0 || !obj.val().match(/[^-_+7()]/g)) {
            $('#need' + fieldName + 'Span').siblings().hide();
            $('#need' + fieldName + 'Span').show();
            return false;
        }
        else {
            $('#need' + fieldName + 'Span').hide();
            return true;
        };
    };

    function checkFields() {
        var inputsValidated = [];
        inputsValidated.push(checkPassword());
        inputsValidated.push(checkRepeatPassword());
        var result = inputsValidated.every(Boolean);
        return result;
    };



    function checkResetPassword() {
        if (!checkFields())
			return;


       
        $.ajax('/User/ResetPassword',
            {
                type: 'POST',
                data: { 'newPassword': $("#password").val() },
                success: function () {
                    alert("Изменен");
                }
            });

    }
</script>

