
@{
    ViewBag.Title = "Правила";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="@ViewBag.L.SiteUrlClear/css/offer.css?p=2020-10-10-a">
<link rel="stylesheet" href="@ViewBag.L.SiteUrlClear/css/regulations.css?p=2020-10-10-a">

<main>
	<section class="offer__wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-3 order-md-4 mobile-first">
					<div class="product__crumbs">
						<span class="page"><a href="@ViewBag.L.SiteUrlClear">Главная</a></span>
						<span class="page page-sel">Правила</span>
					</div>
				</div>
				<div class="col-sm-12 col-md-9">
					<div class="offer__title">
						<h1>Правила</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-3 col-lg-3">
					<div class="rule__select-block">
						<div class="rule__btn">
							<span>
								Политика обработки персональных данных
							</span>
							<div class="ico">

							</div>
						</div>
						<div class="rule__select closed">
							<span class="rule__select-item rules">Основные правила</span>
							<span class="rule__select-item policy selected">Политика обработки персональных данных</span>
							<span class="rule__select-item name">Название заголовка радела</span>
							<span class="rule__select-item title">Заголовка радела</span>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-9 col-lg-9">
					<div class="rule__wrapper">
						<div class="rule__title">
							Политика обработки персональных данных
						</div>
						<div class="rules__block">
							<span class="rule-a__item">
								Перечень используемых сокращений
							</span>
							<span class="rule-a__item">
								Термины и определения
							</span>
							<ol class="rule__list">
								<li class="rule__list__item">
									<span>Общие положения</span>
									<ol class="rule__list-sec">
										<li class="rule__list__item">Назначение Политики</li>
										<li class="rule__list__item">Область действия Политики</li>
										<li class="rule__list__item">Правовая основа разработки Политики</li>
										<li class="rule__list__item">Ввод в действие и пересмотр Политики</li>
									</ol>
								</li>
								<li class="rule__list__item">
									<span>Принципы и цели обработки персональных данных</span>
								</li>
								<li class="rule__list__item">
									<span>Перечень субъектов, персональные данные которых обрабатываются в ООО «М-Контракт»</span>
								</li>
								<li class="rule__list__item">
									<span>Состав персональных данных, обрабатываемых в ООО«М-Контракт»</span>
								</li>
								<li class="rule__list__item">
									<span>Перечень действий с персональными данными и способы их обработки</span>
								</li>
								<li class="rule__list__item">
									<span>Конфиденциальность персональных данных</span>
								</li>
								<li class="rule__list__item">
									<span>Согласие на обработку персональных данных</span>
								</li>
								<li class="rule__list__item">
									<span>Права субъектов персональных данных</span>
								</li>
								<li class="rule__list__item">
									<span>Права и обязанности ООО «М-Контракт»</span>
								</li>
								<li class="rule__list__item">
									<span>Меры, принимаемые ООО «М-Контракт» для выполнения обязанностей Оператора при обработке персональных данных</span>
									<ol class="rule__list-sec">
										<li class="rule__list__item">Меры, применяемые для защиты персональных данных</li>
									</ol>
								</li>
								<li class="rule__list__item">
									<span>Ответственность за реализацию Политики</span>
								</li>
							</ol>
							<span class="rule-a__item">
								Приложение А
							</span>
							<span class="rule-a__item rule-m-top">
								Ответственность за нарушения в области обработки и защиты персональных данных
							</span>
							<span class="rule-a__item">
								Ответственность, предусмотренная Трудовым кодексом РФ
							</span>
							<span class="rule-a__item">
								Ответственность, предусмотренная Кодексом РФ об административных правонарушениях
							</span>
							<span class="rule-a__item">
								Ответственность, предусмотренная Уголовным кодексом РФ
							</span>
						</div>
						<div class="rule__title-small">
							Перечень используемых сокращений
						</div>
						<ul class="rule__sm-list">
							<li class="rule__sm-list-item">КоАП РФ - Кодекс Российской Федерации об административных правонарушениях</li>
							<li class="rule__sm-list-item">ПДн - Персональные данные</li>
							<li class="rule__sm-list-item">РФ - Российская Федерация</li>
							<li class="rule__sm-list-item">ТК РФ - Трудовой кодекс Российской Федерации</li>
							<li class="rule__sm-list-item">УК РФ  - Уголовный кодекс Российской Федерации</li>
						</ul>
						<div class="rule__title-small">
							Термины и определения
						</div>
						<div class="rule__def">
							<b>Информация</b> - сведения (сообщения,
							данные) независимо от формы их
							представления. Персональные данные –
							любая информация, относящаяся к
							прямо или косвенно определенному
							или определяемому физическому лицу
							(субъекту персональных данных).
						</div>
						<div class="rule__def">
							<b>Оператор</b> - государственный орган,
							муниципальный орган, юридическое
							или физическое лицо, самостоятельно
							или совместно с другими лицами
							организующее и (или) осуществляющее
							обработку ПДн, а также определяющее
							цели обработки ПДн, состав ПДн,
							подлежащих обработке, действия
							(операции), совершаемые с ПДн.
						</div>
						<div class="rule__def">
							<b>Обработка персональных данных</b> - любое действие (операция) или
							совокупность действия (операций),
							совершаемых с использованием средств
							автоматизации или без использования
							таких средств с ПДн, включая сбор,
							запись, систематизацию, накопление,
							хранение, уточнение (обновление,
							изменение), извлечение, использование,
							передачу (распространение,
							предоставление, доступ),
							обезличивание, блокирование,
							удаление, уничтожение ПДн.
						</div>
						<div class="rule__def">
							<b>
								Информационная система
								персональных данных
							</b> - совокупность
							содержащихся в базах данных ПДн и
							обеспечивающих их обработку
							информационных технологий и
							технических средств.
						</div>
						<div class="rule__title-b">
							<ol class="rule__title__list">
								<li>
									<span>Общие положения</span>
									<ol class="rule__title__list-sec">
										<li>
											<span>Назначение Политики</span>
											<p>
												Настоящая Политика Акционерного
												общества «Центр развития экономики»
												(ООО «М-Контракт») в отношении
												обработки персональных данных
												(далее - Политика) определяет основные
												принципы, цели, условия и способы
												обработки персональных данных (ПДн),
												категории субъектов ПДн и
												обрабатываемых ПДн, права и
												обязанности ООО «М-Контракт» при
												обработке ПДн, права субъектов ПДн, а
												также реализуемые в ООО «М-Контракт»
												меры по обеспечению безопасности
												ПДн при осуществлении установленных
												в Уставе видов деятельности.
											</p>
											<p>
												Положения настоящей Политики служат
												основой для разработки локальных
												актов, регламентирующих в ООО
												«М-Контракт» вопросы обработки ПДн
												работников ООО «М-Контракт»,
												соискателей на замещение вакантных
												должностей, бывших работников ООО
												«М-Контракт» и других субъектов ПДн.
											</p>
										</li>
										<li>
											<span>Область действия Политики</span>
											<p>
												Действие настоящей Политики
												распространяется на все процессы,
												связанные с обработкой ПДн и
												осуществляемые
												как с использованием средств
												автоматизации, так и без использования
												таких средств.
												Все работники ООО «М-Контракт»
												должны ознакомиться с Политикой.
											</p>
										</li>
										<li>
											<span>Правовая основа разработки Политики</span>
											<p>
												Политика разработана в соответствии с
												требованиями Федерального закона от
												27 июля 2006 г. №152-ФЗ «О
												персональных данных», а также с
												учетом положений Конституции
												Российской Федерации (РФ), кодексов
												РФ, Федеральных законов и
												нормативно-правовых актов РФ в
												области персональных данных.
											</p>
										</li>
										<li>
											<span>Ввод в действие и пересмотр Политики</span>
											<p>
												Настоящая Политика вводится в
												действие приказом Генерального
												директора ООО «М-Контракт» и
												действует бессрочно.
											</p>
											<p>
												ООО «М-Контракт» проводит пересмотр
												положений настоящей Политики и их
												актуализацию по мере необходимости,
												но не реже одного раза в год, а также:
											</p>
											<ul class="rule__par-list">
												<li>при изменении положений законодат</li>
												<li>в случаях выявления несоответствий</li>
												<li>по результатам контроля выполнения</li>
												<li>по решению руководства</li>
											</ul>
											<p>
												При внесении изменений указывается
												дата последнего обновления редакции.
												Новая редакция вводится в действие
												приказом Генерального директора ООО
												«М-Контракт». Старая версия Политики
												вместе с листом ознакомления хранится
												у лица, ответственного за организацию
												обработки ПДн.
											</p>
											<p>
												Актуальная версия Политики на
												бумажном носителе хранится в отделе
												кадров ООО «М-Контракт».
											</p>
											<p>
												В соответствие с ч. 2 ст. 18.1
												закона от 27 июля 2006 г. №152-ФЗ
												«О персональных данных» обеспечение
												сети Интернет (<a href="http://m-contract.ru/">http://m-contract.ru/</a>).
											</p>
										</li>
									</ol>
								</li>
								<li>
									<span>Принципы и цели обработки персональных данных</span>
									<p>
										ООО «М-Контракт» является
										Оператором и осуществляет обработку
										ПДн работников ООО «М-Контракт»,
										клиентов ООО «М-Контракт», а также
										других субъектов ПДн, не состоящих с
										ООО «М-Контракт» в договорных
										отношениях.ООО «М-Контракт» не
										поручает обработку ПДн третьим лицам.
									</p>
									<p>
										Обработка ПДн в ООО «М-Контракт»
										осуществляется на основе следующих
										принципов:
									</p>
									<ul class="rule__par-list">
										<li>обработка ПДн осуществляется на</li>
										<li>обработка ПДн ограничивается дости</li>
										<li>не допускается обработка ПДн</li>
										<li>не допускается объединение баз данных несовместимых между собой</li>
										<li>обработке подлежат только ПДн</li>
										<li>содержание и объем обрабатываемы</li>
										<li>при обработке ПДн обеспечивается обработки ПДн</li>
										<li>хранение ПДн осуществляется в форм цели обработки ПДн, если срок которого, выгодоприобретателем</li>
										<li>обрабатываемые ПДн подлежат утраты необходимости в достижении </li>
									</ul>
									<p>
										В ООО «М-Контракт» ведется обработка
										ПДн в целях:
									</p>
									<ul class="rule__par-list">
										<li>
											осуществления функций, полномочий
											в том числе по соблюдению
											государственной власти, в Пенсионны
											обязательного медицинского
										</li>
										<li>
											регулирования трудовых отношений
											обеспечение взаимодействия работ
											контроль
											количества и качества выполняемой
										</li>
										<li>обеспечение соблюдения локальных</li>
										<li>
											подготовки, заключения, исполнения
											«М-Контракт»
										</li>
										<li>
											консультаций по продуктам и услугам
											«М-Контракт» и проведения
											ООО «М-Контракт»
										</li>
										<li>обеспечения пропускного режима</li>
										<li>формирования справочных материал «М-Контракт».</li>
									</ul>
								</li>
								<li>
									<span>Перечень субъектов, персональные данные которых обрабатываются в ООО «М-Контракт»</span>
									<p>
										В ООО «М-Контракт» ведется обработка
										ПДн следующих категорий субъектов:
									</p>
									<ul class="rule__par-list">
										<li>работники ООО «М-Контракт»</li>
										<li>исполнители (физические лица) по</li>
										<li>соискатели на замещение вакантных</li>
										<li>бывшие работники ООО «М-Контракт</li>
										<li>клиенты (представители клиентов)</li>
									</ul>
								</li>
								<li>
									<span>Состав персональных данных, обрабатываемых в ООО«М-Контракт»</span>
									<p>
										Перечень ПДн, обрабатываемых в ООО
										«М-Контракт»», определяется в
										соответствии с требованиями
										законодательства РФ, а также
										локальных нормативных правовых
										актов ООО «М-Контракт» с учетом целей
										обработки ПДн, указанных в разделе 2
										Политики.
									</p>
									<p>
										Обработка специальных категорий ПДн,
										касающихся расовой, национальной
										принадлежности, политических
										взглядов, религиозных и/или
										философских убеждений, состояния
										здоровья, интимной жизни, в ООО
										«М-Контракт» не осуществляется.
									</p>
								</li>
								<li>
									<span>Перечень действий с персональными данными и способы их обработки</span>
									<p>
										В «М-Контракт» осуществляются
										следующие виды обработки ПДн:
									</p>
									<ul class="rule__par-list">
										<li>сбор;</li>
										<li>запись;</li>
										<li>систематизация;</li>
										<li>накопление;</li>
										<li>хранение;</li>
										<li>уточнение (обновление, изменение);</li>
										<li>использование;</li>
										<li>извлечение;</li>
										<li>передача (предоставление, доступ);</li>
										<li>обезличивание;</li>
										<li>блокирование;</li>
										<li>удаление;</li>
										<li>уничтожение.</li>
									</ul>
									<p>
										Обработка ПДн в «М-Контракт»
										осуществляется следующими с
										пособами:
									</p>
									<ul class="rule__par-list">
										<li>неавтоматизированная обработка</li>
										<li>автоматизированная обработка ПДн</li>
										<li>смешанная обработка ПДн</li>
									</ul>
									<p>
										«М-Контракт» не осуществляет
										трансграничную передачу ПДн.
									</p>
									<p>
										«М-Контракт» не предоставляет и не
										раскрывает сведения, содержащие ПДн
										субъектов ПДн, третьей стороне без
										согласия субъекта ПДн, за исключением
										случаев, когда это необходимо в целях
										предупреждения угрозы жизни и
										здоровью, а также в случаях,
										установленных федеральными
										законами РФ.
									</p>
								</li>
								<li>
									<span>Конфиденциальность персональных данных</span>
									<p>
										Работники «М-Контракт» и иные лица,
										получившие доступ к ПДн, обязаны не
										раскрывать третьим лицам и не
										распространять ПДн без согласия
										субъекта ПДн, если иное не
										предусмотрено федеральными
										законами РФ.
									</p>
								</li>
								<li>
									<span>Согласие на обработку персональных данных</span>
									<p>
										«М-Контракт» осуществляет обработку
										ПДн без согласия субъектов ПДн в
										случаях, предусмотренных
										Федеральным законом от 27 июля 2006
										г. № 152-ФЗ «О персональных данных».
									</p>
									<p>
										Во всех остальных случаях обработка
										ПДн осуществляется с согласия
										субъектов ПДн.
									</p>
								</li>
								<li>
									<span>Права субъектов персональных данных</span>
									<p>
										Субъект ПДн имеет право:
									</p>
									<ul class="rule__par-list">
										<li>
											на защиту своих прав и законных
											вреда в судебном порядке;
										</li>
										<li>
											на обжалование действий или
											персональных данных или в судебном
											осуществляет обработку его ПДн с
										</li>
										<li>
											на получение информации,
											7, ст. 14 Федерального закона от 27
										</li>
										<li>
											на уточнение своих ПДн, их
											устаревшими, неточными, незаконно
											обработки
										</li>
										<li>требовать от «М-Контракт» принимать </li>
									</ul>
									<p>
										Для получения информации,
										предоставление такой информации в
										предъявляемым в ч. 3, ст. 14
									</p>
									<p>
										Для уточнения, блокирования,
										свободной форме на осуществление
									</p>
								</li>
								<li>
									<span>Права и обязанности ООО «М-Контракт»</span>
									<p>
										ООО «М-Контракт» имеет право:
									</p>
									<ul class="rule__par-list">
										<li>на защиту своих прав и законных</li>
										<li>
											предоставлять ПДн субъектов
											(правоохранительные, судебные)
										</li>
										<li>
											обрабатывать ПДн для достижения
											осуществления и/или выполнения
											функций и полномочий
										</li>
										<li>
											отказывать в предоставлении ПДн в
											№ 152-ФЗ «О персональных данных»
										</li>
										<li>
											обрабатывать ПДн субъекта без его
											июля 2006 г. № 152-ФЗ
										</li>
									</ul>
									<p>
										ООО «М-Контракт» обязано:
									</p>
									<ul class="rule__par-list">
										<li>
											принимать меры, необходимые и
											Федеральным законом от 27 июля
											нормативными правовыми актами;
										</li>
										<li>
											опубликовать или иным образом
											в отношении обработки ПДн, к
										</li>
										<li>
											принимать необходимые правовые,
											защиты ПДн от неправомерного или
											копирования, предоставления,
											обрабатываемых ПДн;
										</li>
										<li>
											в случае получения ПДн не от
											закона от 27 июля 2006 г. № 152-ФЗ
											субъекту ПДн следующую
										</li>
										<ul class="rule__par-list-sec">
											<li>наименование и адрес Оператора </li>
											<li>цель обработки ПДн и ее правовое</li>
											<li>перечень предполагаемых </li>
											<li>установленные Федеральным ПДн;</li>
											<li>источник получения ПДн.</li>
										</ul>
										<li>
											предоставить безвозмездно субъекту
											относящимися к этому субъекту ПДн,
											персональных данных»;
										</li>
										<li>
											действовать в соответствии с
											данных» в случаях выявления
											достижения целей обработки ПДн;
										</li>
										<li>
											в случае отсутствия возможности
											27 июля 2006 г. № 152-ФЗ
											уничтожение ПДн в срок не более
										</li>
									</ul>
								</li>
								<li>
									<span>Меры, принимаемые ООО «М-Контракт» для выполнения обязанностей Оператора при обработке персональных данных</span>
									<p>
										Меры, необходимые и достаточные для
										обеспечения выполнения ООО
										«М-Контракт» обязанностей оператора,
										предусмотренных законодательством
										РФ в области персональных данных,
										включают:
									</p>
									<ul class="rule__par-list">
										<li>назначение лица, ответственного за </li>
										<li>принятие локальных нормативных </li>
										<li>
											организацию проведения
											непосредственную обработку ПДн в
										</li>
										<li>
											получение согласий субъектов ПДн
											Федерального закона от 27 июля 2006
										</li>
										<li>
											обособление ПДн, обрабатываемых
											путем их фиксации на отдельных
										</li>
										<li>обеспечение раздельного хранения
										<li>
											хранение материальных носителей
											исключающий несанкционированный
										</li>
										<li>
											осуществление внутреннего контроля
											152-ФЗ «О персональных данных» и
											к защите ПДн, настоящей Политике
										</li>
										<li>иные меры, предусмотренные</li>
									</ul>
									<ol class="rule__title__list-sec">
										<li>
											Меры, применяемые для
											защиты персональных данных
										</li>
										<p>
											Меры, по обеспечению безопасности
											ПДн при их обработке В ООО
											«М-Контракт» устанавливаются в
											соответствии с локальными
											нормативными актами ООО
											«М-Контракт», и могут включать:
										</p>
										<ul class="rule__par-list">
											<li>определение угроз безопасности ПДн </li>
											<li>
												применение организационных и
												информационных системах ПДн, в том
												соответствия средств защиты
											</li>
											<li>
												установление правил доступа к ПДн,
												регистрации и учета всех действий,
											</li>
											<li>иные меры защиты</li>
										</ul>
									</ol>
								</li>
								<li>
									<span>Ответственность за реализацию Политики</span>
									<p>
										Приказом генерального директора ООО
										«М-Контракт» назначается лицо,
										ответственное за организацию
										обработки ПДн в ООО «М-Контракт».
									</p>
									<p>
										Лицо, ответственное за организацию
										обработки ПДн в ООО «М-Контракт»
										обязано:
									</p>
									<ul class="rule__par-list">
										<li>
											осуществлять внутренний контроль
											ПДн, в том числе требований к защите
										</li>
										<li>
											доводить до сведения работников
											нормативных актов ООО «М-Контракт
										</li>
										<li>
											организовывать прием и обработку
											осуществлять контроль за приемом
										</li>
									</ul>
									<p>
										Приказом генерального директора ООО
										безопасности ПДн при их обработке в
									</p>
									<p>
										Лицо, ответственное за обеспечение
										«М-Контракт» обязано планировать и
										обработке в информационных системах
									</p>
									<p>
										Работники ООО «М-Контракт»,
										деятельности информации, а также
										дисциплинарную, административную
										Приложение А).
									</p>
								</li>
							</ol>
						</div>
						<div class="rule__title rule__title-top">
							Приложение А
						</div>
						<div class="rule__title-small">
							Ответственность за нарушения в
							области обработки и защиты
							персональных данных
						</div>
						<p>
							В случае несоблюдения порядка и/или
							правил обеспечения ИБ, установленных
							Политикой ИБ, виновные в этом лица
							несут ответственность
							(дисциплинарную, административную,
							материальную и/или уголовную) в
							зависимости от характера нарушения и
							тяжести наступивших отрицательных
							последствий для ООО «М-Контракт».
						</p>
						<div class="rule__title-small">
							Ответственность,
							предусмотренная Трудовым
							кодексом РФ
						</div>
						<ul class="rule__par-list">
							<li>
								Работник Компании, виновный в
								существенного имущественного или
								замечания (п. 1 ч. 1 ст. 192 ТК РФ).
							</li>
							<li>
								Работник Компании, виновный в
								существенного имущественного или
								выговора (п. 2 ч. 1 ст. 192 ТК РФ).
							</li>
							<li>
								Работник Компании, виновный в
								существенного имущественного или
								выговора.
							</li>
							<li>
								Работник Компании, уже имеющий
								однократном умышленном
								неимущественного ущерба, может
								ТК РФ и п. 5 ч. 1 ст. 81 ТК РФ).
							</li>
							<li>
								Работник Компании, виновный в
								существенного имущественного или
								выговора или увольнения (п. 2 ч. 1 ст.
							</li>
							<li>
								Работник, виновный в разглашении
								ответственность за ущерб,
							</li>
						</ul>
						<div class="rule__title-small">
							Ответственность,
							предусмотренная Кодексом РФ об
							административных
							правонарушениях
						</div>
						<ul class="rule__par-list">
							<li>
								Нарушение установленного законом
								о гражданах (персональных данных)
								граждан в размере от 300 до 500
							</li>
							<li>
								Разглашение информации, доступ к
								разглашение такой информации
								информации в связи с исполнением
								штрафа на граждан в размере от 500
							</li>
						</ul>
						<div class="rule__title-small">
							Ответственность,
							предусмотренная Уголовным
							кодексом РФ
						</div>
						<ul class="rule__par-list">
							<li>
								Незаконное собирание или
								семейную тайну, без его согласия
								демонстрирующемся произведении
								200 000 рублей или в размере
								обязательными работами на срок до
								принудительными работами на срок
								заниматься определенной
								либо лишением свободы на срок до 2
							</li>
							<li>
								Разглашение или использование
								которому эта информация была
								ущерб Компании и/или было
								200 000 рублей или в размере
								принудительными работами на сро
							</li>
						</ul>
						<div class="rule__title-small last__rule">
							УТВЕРЖДЕНО
							Приказом генерального директора
							ООО «М-Контракт»
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<script src="@ViewBag.L.SiteUrlClear/js/regulations.js"></script>