@*@model MContract.Models.UserSignUpCheckingViewModel*@

@{
    ViewBag.Title = ViewBag.Heading;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="font-size: larger; height: 500px; padding: 50px;">
    @*Мы проверяем ваши данные. После проверки вы получите email с подтверждением и ссылкой на <a href="@Model.PersonalAreaUrl">личный кабинет</a>*@
    <br />
    Для завершения регистрации проверьте электронную почту и перейдите по ссылке, указанной в письме
</div>