
@{
    ViewBag.Title = "Подтверждение адреса электронной почты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="font-size: larger; min-height: 490px; padding: 50px;">
    <h2>
        <b style="padding: 25px;">@ViewData["tempdata"]</b>
    </h2>
        
        <b style="padding: 25px;">@ViewData["tempdata1"]</b>
    
</div>
