body {
}

.pageContentContainer > *:not(h2):not(.addProduct) {
    margin-top: 10px;
}

.productDetails .tipsRow {
    display: none;
}

.tipsContainer > div {
    display: none;
    float: left;
}

.adDetails .tipsContainer > div {
    margin-left: 7px;
}

.tipsContainer .requiredFieldMarker {
    margin-left: 4px;
    float: left;
}

.tipsContainer .needContainer span {
    background-color: tomato;
}

.tipsContainer .invalidContainer span {
    background-color: darkorange;
}

.tipsContainer .checkedContainer img {
    height: 20px;
    width: auto;
}

.requiredFieldMarker {
    color: tomato;
}

.adDetails {
    width: 100%;
    margin-bottom: 1em;
}

.adDetails tr td:nth-child(1) {
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: black;
}

.adDetails tr td:nth-child(2) {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: black;
}

.productDetails, .productDetails tr {
    border: 1px solid black;
}

.adDetails td:nth-child(2n+1) {
    width: 30%;
}

.adDetails td:nth-child(2n+2) {
    width: 30%;
}

.adDetails td:nth-child(2n+3) {
    width: 40%;
}

.adDetails .deliveryAddressRow:not(.isBuy), .adDetails .defermentPeriodRow {
    display: none;
}

.adDetails .deliveryAddressRow .deliveryAddressContainer input {
    width: 100%;
    box-sizing: border-box;
}

.adDetails select {
    width: 50%;
    box-sizing: border-box;
}

.adDetails .termsOfPaymentsContainer {
    position: relative;
}

.adDetails .termsOfPaymentsContainer > input {
    box-sizing: border-box;
    width: 50%;
}

.adDetails .termsOfPaymentsContainer .optionsContainer {
    position: absolute;
    left: 0px;
    top: 100%;
    background-color: white;
    display: none;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: gray;
    box-sizing: border-box;
    max-height: 1000%;
    width: 50%;
    overflow-x: hidden;
    z-index: 1;
}

.adDetails .termsOfPaymentsContainer > input::placeholder {
    color: black;
    opacity: 1;
}

.adDetails .termsOfPaymentsContainer .optionsContainer > div > input {
    display: none;
}

.productDetails tr:nth-child(1) {
    background-color: lightgray;
}

.adDetails tr:nth-child(2n+1) td:nth-child(-n+2), .productDetails tr:nth-child(4n+2), .productDetails tr:nth-child(4n+3) {
    #background-color: whitesmoke;
    background-color: ghostwhite;
}

.adDetails tr:nth-child(2n+2) td:nth-child(-n+2), .productDetails tr:nth-child(4n+4), .productDetails tr:nth-child(4n+5) {
    background-color: ghostwhite;
}

.adDescriptionContainer {
    margin-top: 1em;
    margin-bottom: 1em;
}

.adDescriptionContainer textarea {
    width: 60%;
    box-sizing: border-box;
    resize: none;
    min-height: 5em;
    word-wrap: break-word;
}

.adDetails tr:hover td:nth-child(-n+2), .productDetails tr:nth-child(n+2):hover {
    background-color: floralwhite !important;
}

.productDetails {
    width: 80%;
}

.productDetails tr:nth-child(2), .productDetails tr:nth-child(3) {
    display: none;
}

.productDetails tr:nth-child(n+2) td:not(:nth-child(7n+3)):not(:nth-child(7n+5)):not(:nth-child(7n+7)) > * {
    width: 100%;
    box-sizing: border-box;
}

.productDetails td:nth-child(7n+1) {
    max-width: 2%;
}

.productDetails td:nth-child(7n+2) {
    width: 48%;
}


.productDetails td:nth-child(7n+3) {
    max-width: 15%;
    white-space: nowrap;
}

.productDetails td:nth-child(7n+3) > * {
    display: inline-block;
    box-sizing: border-box;
}

.productDetails td:nth-child(7n+3) input {
    max-width: 85%;
    display: none;
}

.productDetails td:nth-child(7n+3) .removeSpecific {
    width: 15%;
    display: none;
}

.productDetails td:nth-child(7n+3) .addSpecific {
    width: 100%;
}

.productDetails td:nth-child(7n+4) {
    width: 9%;
}

.productDetails td:nth-child(7n+5) {
    width: 8%;
}

.productDetails td:nth-child(7n+6) {
    max-width: 10%;
}

.productDetails td:nth-child(7n+7) {
    max-width: 1%;
}

.productDetails .removeProduct {
    display: none;
}

.productDetails .categoryContainer {
    position: relative;
}

.productDetails .categoryContainer > input {
    width: 100%;
    box-sizing: border-box;
}

.productDetails .categoryContainer > input::placeholder {
    color: black;
    opacity: 1;
}

.productDetails .optionsContainer {
    position: absolute;
    left: 0px;
    top: 100%;
    background-color: white;
    display: none;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: gray;
    box-sizing: border-box;
    max-height: 1000%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
}

.productDetails .optionsContainer * {
    margin: 0;
}

.productDetails .optionsContainer > div {
    display: flex;
    align-items: flex-start;
}

.productDetails .optionsContainer > div:hover {
    background-color: ghostwhite;
}

.productDetails .optionsContainer button {
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    padding: 0;
    margin-right: 0.3em;
}

.productDetails .optionsContainer input {
    display: none;
}

.productDetails .optionsContainer span {
    flex: 10;
}

.productDetails .categoryContainer .optionsContainer .noMatches {
    display: none;
}

.productDetails .categoryContainer .optionsContainer .categoryLevel1 button {
    margin-left: 0.1em;
}

.productDetails .categoryContainer .optionsContainer .categoryLevel2 {
    display: none;
}

.productDetails .categoryContainer .optionsContainer .categoryLevel2 button {
    margin-left: 1.6em;
}

.productDetails .categoryContainer .optionsContainer .categoryLevel3 {
    display: none;
}

.productDetails .categoryContainer .optionsContainer .categoryLevel3 span {
    margin-left: 3.3em;
}

.productDetails .currencyContainer select {
    width: 100%;
}