.log-in_window {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.log__page__wrapper {
  min-height: 430px;
  background-color: #f1f3f5;
  width: 100%; }
  .log__page__wrapper h1 {
    color: #14355d;
    font-size: 24px;
    font-weight: 700;
    padding-top: 74px;
    margin-bottom: 50px; }
  .log__page__wrapper .input__col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .log__page__wrapper .input__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin-bottom: 15px; }
    .log__page__wrapper .input__wrapper label, .log__page__wrapper .input__wrapper .select-label {
      color: #14355d;
      font-size: 13px;
      font-weight: 700;
      margin-left: 3px;
      margin-bottom: 5px; }
    .log__page__wrapper .input__wrapper input {
      width: 100%;
      height: 38px;
      border: 1px solid #dee4e9;
      padding-left: 20px;
      color: #646b74;
      font-size: 12px;
      font-weight: 400;
      -webkit-transition: 400ms ease-out border-color;
      -o-transition: 400ms ease-out border-color;
      transition: 400ms ease-out border-color; }
      .log__page__wrapper .input__wrapper input::-webkit-input-placeholder {
        color: #a5b1bf;
        font-size: 12px;
        font-weight: 400; }
      .log__page__wrapper .input__wrapper input::-moz-placeholder {
        color: #a5b1bf;
        font-size: 12px;
        font-weight: 400; }
      .log__page__wrapper .input__wrapper input:-ms-input-placeholder {
        color: #a5b1bf;
        font-size: 12px;
        font-weight: 400; }
      .log__page__wrapper .input__wrapper input::-ms-input-placeholder {
        color: #a5b1bf;
        font-size: 12px;
        font-weight: 400; }
      .log__page__wrapper .input__wrapper input::placeholder {
        color: #a5b1bf;
        font-size: 12px;
        font-weight: 400; }
      .log__page__wrapper .input__wrapper input:hover {
        border-color: #2b8ff1; }
      .log__page__wrapper .input__wrapper input:focus {
        border-color: #2b8ff1; }
      .log__page__wrapper .input__wrapper input:invalid:not(:focus):not(:placeholder-shown) {
        border-color: #e60f6f; }
      .log__page__wrapper .input__wrapper input:invalid:focus:not(:placeholder-shown) {
        border-color: #e60f6f; }
      .log__page__wrapper .input__wrapper input:valid {
        border-color: #2b8ff1; }
    .log__page__wrapper .input__wrapper .input__forgot {
      margin-top: 1px;
      color: #a5b1bf;
      font-size: 13px;
      font-weight: 400;
      text-decoration: underline; }
    .log__page__wrapper .input__wrapper .about-input {
      color: #a5b1bf;
      font-size: 11px;
      font-weight: 400;
      margin-top: 8px; }
      .log__page__wrapper .input__wrapper .about-input a {
        color: #506175;
        text-decoration: underline; }
    .log__page__wrapper .input__wrapper select, .log__page__wrapper .input__wrapper .select-input {
      width: 100%;
      height: 38px;
      border: 1px solid #dee4e9;
      padding-left: 20px;
      color: #a5b1bf;
      font-size: 12px;
      font-weight: 400;
      background-color: white; }
    .log__page__wrapper .input__wrapper .select-input {
      line-height: 38px;
      position: relative;
      cursor: pointer; }
      .log__page__wrapper .input__wrapper .select-input::after {
        position: absolute;
        content: '';
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 9px;
        height: 5px;
        background-image: url("http://m-contract.ru/ico/select-arr.png");
        background-size: 100% 100%; }
    .log__page__wrapper .input__wrapper .region-input::after {
      display: none; }
    .log__page__wrapper .input__wrapper .region-input .select-region__wrapper {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: white;
      z-index: 100;
      -webkit-transition: 400ms ease-out transform, 400ms ease-out opacity,700ms z-index;
      -o-transition: 400ms ease-out transform, 400ms ease-out opacity,700ms z-index;
      transition: 400ms ease-out transform, 400ms ease-out opacity,700ms z-index; }
      .log__page__wrapper .input__wrapper .region-input .select-region__wrapper.closed {
        opacity: 0;
        -webkit-transform: translateX(200px);
            -ms-transform: translateX(200px);
                transform: translateX(200px);
        z-index: -1; }
    .log__page__wrapper .input__wrapper .region-input .select-region__content {
      position: relative;
      height: 100%; }
      .log__page__wrapper .input__wrapper .region-input .select-region__content .region-close {
        width: 100%;
        height: 46px;
        background-color: white;
        background-image: url("http://m-contract.ru/ico/close-bold.svg");
        background-size: 14px 14px;
        background-repeat: no-repeat;
        background-position: 95% 50%; }
      .log__page__wrapper .input__wrapper .region-input .select-region__content-rus {
        width: 100%;
        background-color: #f1f3f5;
        padding: 14px 27px;
        margin-top: 2px;
        position: relative;
        z-index: 4;
        cursor: pointer; }
        .log__page__wrapper .input__wrapper .region-input .select-region__content-rus::after {
          content: '';
          position: absolute;
          width: 11px;
          height: 7px;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          right: 26px;
          background-image: url("http://m-contract.ru/ico/arrDown-black.png");
          background-size: cover; }
        .log__page__wrapper .input__wrapper .region-input .select-region__content-rus.closed-margin {
          margin-bottom: 20px; }
          .log__page__wrapper .input__wrapper .region-input .select-region__content-rus.closed-margin::after {
            -webkit-transform: translateY(-50%) rotate(-90deg);
                -ms-transform: translateY(-50%) rotate(-90deg);
                    transform: translateY(-50%) rotate(-90deg); }
        @media (max-width: 767px) {
          .log__page__wrapper .input__wrapper .region-input .select-region__content-rus.closed-margin {
            margin-bottom: 2px; } }
      .log__page__wrapper .input__wrapper .region-input .select-region__content-category-item {
        color: #017bf2;
        font-size: 14px;
        font-weight: 400;
        z-index: 4; }
      .log__page__wrapper .input__wrapper .region-input .select-region__content-list {
        overflow: scroll; }
        .log__page__wrapper .input__wrapper .region-input .select-region__content-list-wrapper {
          padding: 14px 27px;
          padding-bottom: 66px;
          background-color: white;
          height: -webkit-calc(100% - 66px);
          height: calc(100% - 66px);
          overflow-y: scroll;
          z-index: 1; }
          .log__page__wrapper .input__wrapper .region-input .select-region__content-list-wrapper.closed-regions {
            display: none; }
        .log__page__wrapper .input__wrapper .region-input .select-region__content-list-title {
          color: #017bf2;
          font-size: 14px;
          font-weight: 700;
          line-height: 32px; }
        .log__page__wrapper .input__wrapper .region-input .select-region__content-list-ul {
          list-style: none;
          padding: 0;
          margin: 0;
          margin-top: 16px; }
          .log__page__wrapper .input__wrapper .region-input .select-region__content-list-ul:last-of-type {
            margin-bottom: 20px; }
        .log__page__wrapper .input__wrapper .region-input .select-region__content-list-li .select-region-first-level {
          color: #14355d;
          margin-bottom: 16px;
          font-size: 12px;
          font-weight: 400;
          text-decoration: underline;
          cursor: pointer; }
          .log__page__wrapper .input__wrapper .region-input .select-region__content-list-li .select-region-first-level.selected-region {
            color: #2b8ff1; }
        .log__page__wrapper .input__wrapper .region-input .select-region__content-list-li-ul {
          list-style: none; }
          .log__page__wrapper .input__wrapper .region-input .select-region__content-list-li-ul-li {
            color: #14355d;
            font-size: 10px;
            font-weight: 400;
            line-height: 20px;
            cursor: pointer; }
            .log__page__wrapper .input__wrapper .region-input .select-region__content-list-li-ul-li.selected-region {
              color: #2b8ff1; }
      .log__page__wrapper .input__wrapper .region-input .select-region__content-another {
        width: 100%;
        background-color: #f1f3f5;
        padding: 14px 27px;
        position: absolute;
        bottom: 0; }
        .log__page__wrapper .input__wrapper .region-input .select-region__content-another::after {
          content: '';
          position: absolute;
          width: 11px;
          height: 7px;
          top: 50%;
          -webkit-transform: translateY(-50%) rotate(-90deg);
              -ms-transform: translateY(-50%) rotate(-90deg);
                  transform: translateY(-50%) rotate(-90deg);
          right: 26px;
          background-image: url("http://m-contract.ru/ico/arrDown-black.png");
          background-size: cover; }
    @media (min-width: 767px) {
      .log__page__wrapper .input__wrapper .region-input .select-region__wrapper {
        width: -webkit-calc(100% + 4px);
        width: calc(100% + 4px);
        height: 340px;
        position: absolute;
        top: 38px;
        left: -2px;
        right: 100%;
        border: 2px solid #14355d; }
      .log__page__wrapper .input__wrapper .region-input .select-region__content {
        height: auto; }
        .log__page__wrapper .input__wrapper .region-input .select-region__content-list-wrapper {
          height: 267px; } }
    .log__page__wrapper .input__wrapper .region-input::after {
      position: absolute;
      content: '';
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 9px;
      height: 5px;
      background-image: url("http://m-contract.ru/ico/select-arr.png");
      background-size: 100% 100%; }
    .log__page__wrapper .input__wrapper .alert__message {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
      color: #a5b1bf;
      font-size: 11px;
      font-weight: 400; }
      .log__page__wrapper .input__wrapper .alert__message a {
        color: #017bf2;
        text-decoration: underline; }
    .log__page__wrapper .input__wrapper.false {
      position: relative; }
      .log__page__wrapper .input__wrapper.false::after {
        position: absolute;
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        top: 36px;
        right: 10px;
        background-image: url("http://m-contract.ru/ico/alert.svg");
        background-size: 100% 100%; }
      .log__page__wrapper .input__wrapper.false input {
        border-color: #ff0000; }
    .log__page__wrapper .input__wrapper.false-enter {
      position: relative; }
      .log__page__wrapper .input__wrapper.false-enter::after {
        position: absolute;
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        top: 36px;
        right: 20px;
        background-image: url("http://m-contract.ru/ico/alert.svg");
        background-size: 100% 100%; }
      .log__page__wrapper .input__wrapper.false-enter input {
        border-color: #ff0000; }
        .log__page__wrapper .input__wrapper.false-enter input::-webkit-input-placeholder {
          color: #ff0000; }
        .log__page__wrapper .input__wrapper.false-enter input::-moz-placeholder {
          color: #ff0000; }
        .log__page__wrapper .input__wrapper.false-enter input:-ms-input-placeholder {
          color: #ff0000; }
        .log__page__wrapper .input__wrapper.false-enter input::-ms-input-placeholder {
          color: #ff0000; }
        .log__page__wrapper .input__wrapper.false-enter input::placeholder {
          color: #ff0000; }
      .log__page__wrapper .input__wrapper.false-enter select, .log__page__wrapper .input__wrapper.false-enter .select-input {
        border-color: #ff0000; }
  .log__page__wrapper .input__select {
    position: relative; }
    .log__page__wrapper .input__select .select-list {
      position: absolute;
      top: 38px;
      left: 0;
      background-color: #a5b1bf;
      z-index: 5;
      padding: 0;
      margin: 0;
      list-style: none; }
      .log__page__wrapper .input__select .select-list.closed {
        display: none; }
      .log__page__wrapper .input__select .select-list-item {
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        line-height: 30px;
        padding: 0px 20px;
        border-bottom: 1px solid white;
        -webkit-transition: 400ms ease-out background-color;
        -o-transition: 400ms ease-out background-color;
        transition: 400ms ease-out background-color; }
        .log__page__wrapper .input__select .select-list-item:hover {
          background-color: #506175; }
    .log__page__wrapper .input__select .select-input span {
      margin-right: 5px; }
  .log__page__wrapper .name__wrapper {
    margin-top: 50px; }
  .log__page__wrapper .btn__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .log__page__wrapper .btn__wrapper .btn {
      height: 46px; }
    .log__page__wrapper .btn__wrapper .btn_log-in {
      width: 104px;
      height: 46px;
      background-color: #2b8ff1;
      border-radius: 0;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 40px;
      -webkit-transition: 400ms ease-out opacity;
      -o-transition: 400ms ease-out opacity;
      transition: 400ms ease-out opacity; }
      .log__page__wrapper .btn__wrapper .btn_log-in:hover {
        opacity: 0.8; }
    .log__page__wrapper .btn__wrapper .btn_reg {
      color: #017bf2;
      font-size: 14px;
      font-weight: 400;
      text-decoration: underline;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-transition: 400ms ease-out opacity;
      -o-transition: 400ms ease-out opacity;
      transition: 400ms ease-out opacity; }
      .log__page__wrapper .btn__wrapper .btn_reg:hover {
        opacity: 0.8; }
    .log__page__wrapper .btn__wrapper .btn__register {
      width: 209px;
      height: 46px;
      background-color: #2b8ff1;
      border-radius: 0;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 40px;
      -webkit-transition: 400ms ease-out opacity;
      -o-transition: 400ms ease-out opacity;
      transition: 400ms ease-out opacity;
      margin-bottom: 100px; }
      .log__page__wrapper .btn__wrapper .btn__register:hover {
        opacity: 0.8; }
  @media (min-width: 993px) {
    .log__page__wrapper .btn__register {
      margin-left: -webkit-calc(40% + 20px);
      margin-left: calc(40% + 20px); }
    .log__page__wrapper .input__wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      width: 100%; }
      .log__page__wrapper .input__wrapper label, .log__page__wrapper .input__wrapper .select-label {
        -webkit-flex-basis: -webkit-calc(40% + 15px);
            -ms-flex-preferred-size: calc(40% + 15px);
                flex-basis: calc(40% + 15px);
        line-height: 38px;
        margin-bottom: 0px; }
      .log__page__wrapper .input__wrapper input {
        -webkit-flex-basis: -webkit-calc(60% - 20px);
            -ms-flex-preferred-size: calc(60% - 20px);
                flex-basis: calc(60% - 20px);
        height: 38px;
        border: 1px solid #dee4e9;
        padding-left: 20px;
        -webkit-transition: 400ms ease-out border-color;
        -o-transition: 400ms ease-out border-color;
        transition: 400ms ease-out border-color; }
        .log__page__wrapper .input__wrapper input::-webkit-input-placeholder {
          color: #a5b1bf;
          font-size: 12px;
          font-weight: 400; }
        .log__page__wrapper .input__wrapper input::-moz-placeholder {
          color: #a5b1bf;
          font-size: 12px;
          font-weight: 400; }
        .log__page__wrapper .input__wrapper input:-ms-input-placeholder {
          color: #a5b1bf;
          font-size: 12px;
          font-weight: 400; }
        .log__page__wrapper .input__wrapper input::-ms-input-placeholder {
          color: #a5b1bf;
          font-size: 12px;
          font-weight: 400; }
        .log__page__wrapper .input__wrapper input::placeholder {
          color: #a5b1bf;
          font-size: 12px;
          font-weight: 400; }
        .log__page__wrapper .input__wrapper input:hover {
          border-color: #2b8ff1; }
        .log__page__wrapper .input__wrapper input:focus {
          border-color: #2b8ff1; }
        .log__page__wrapper .input__wrapper input:invalid:not(:focus):not(:placeholder-shown) {
          border-color: red; }
        .log__page__wrapper .input__wrapper input:invalid:focus:not(:placeholder-shown) {
          border-color: red; }
        .log__page__wrapper .input__wrapper input:valid {
          border-color: #2b8ff1; }
      .log__page__wrapper .input__wrapper.letter-padding-desktop {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .log__page__wrapper .input__wrapper.letter-padding-desktop label {
          -webkit-flex-basis: 14%;
              -ms-flex-preferred-size: 14%;
                  flex-basis: 14%;
          margin-top: 7px; }
          .log__page__wrapper .input__wrapper.letter-padding-desktop label::after {
            content: ':'; }
        .log__page__wrapper .input__wrapper.letter-padding-desktop input {
          -webkit-flex-basis: -webkit-calc(85% - 20px);
              -ms-flex-preferred-size: calc(85% - 20px);
                  flex-basis: calc(85% - 20px);
          max-width: 270px; }
      .log__page__wrapper .input__wrapper .about-input {
        display: block;
        -webkit-flex-basis: -webkit-calc(60% - 20px);
            -ms-flex-preferred-size: calc(60% - 20px);
                flex-basis: calc(60% - 20px);
        -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
                align-self: flex-end;
        color: #a5b1bf;
        font-size: 11px;
        font-weight: 400;
        margin-top: 8px; }
        .log__page__wrapper .input__wrapper .about-input a {
          color: #506175;
          text-decoration: underline; }
      .log__page__wrapper .input__wrapper select, .log__page__wrapper .input__wrapper .select-input {
        -webkit-flex-basis: -webkit-calc(60% - 20px);
            -ms-flex-preferred-size: calc(60% - 20px);
                flex-basis: calc(60% - 20px); }
      .log__page__wrapper .input__wrapper .alert__message {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        color: #a5b1bf;
        font-size: 11px;
        font-weight: 400; }
        .log__page__wrapper .input__wrapper .alert__message a {
          color: #017bf2;
          text-decoration: underline; }
      .log__page__wrapper .input__wrapper .input__forgot {
        margin-right: 48%; }
      .log__page__wrapper .input__wrapper.false {
        position: relative; }
        .log__page__wrapper .input__wrapper.false::after {
          position: absolute;
          content: '';
          display: block;
          width: 16px;
          height: 16px;
          top: 11px;
          right: 10px;
          background-image: url("http://m-contract.ru/ico/alert.svg");
          background-size: 100% 100%; }
        .log__page__wrapper .input__wrapper.false input {
          border-color: #ff0000; }
      .log__page__wrapper .input__wrapper.false-enter {
        position: relative; }
        .log__page__wrapper .input__wrapper.false-enter::after {
          position: absolute;
          content: '';
          display: block;
          width: 16px;
          height: 16px;
          top: 11px;
          right: 20px;
          background-image: url("http://m-contract.ru/ico/alert.svg");
          background-size: 100% 100%; }
        .log__page__wrapper .input__wrapper.false-enter input {
          border-color: #ff0000; }
          .log__page__wrapper .input__wrapper.false-enter input::-webkit-input-placeholder {
            color: #ff0000; }
          .log__page__wrapper .input__wrapper.false-enter input::-moz-placeholder {
            color: #ff0000; }
          .log__page__wrapper .input__wrapper.false-enter input:-ms-input-placeholder {
            color: #ff0000; }
          .log__page__wrapper .input__wrapper.false-enter input::-ms-input-placeholder {
            color: #ff0000; }
          .log__page__wrapper .input__wrapper.false-enter input::placeholder {
            color: #ff0000; }
        .log__page__wrapper .input__wrapper.false-enter select, .log__page__wrapper .input__wrapper.false-enter .select-input {
          border-color: #ff0000; }
    .log__page__wrapper .btn__wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .log__page__wrapper .btn__wrapper .btn_log-in {
        margin-left: 33%; } }

.resultCity + .close {
  display: none; }

.selected-region-list-item-span {
  color: #506175;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  cursor: text; }

.selected-region-list-item-span + .close {
  position: absolute;
  display: block;
  cursor: pointer;
  width: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  height: 8px;
  background-image: url("http://m-contract.ru/ico/close-blue.svg");
  background-size: 100% 100%; }

@media (min-width: 767px) {
  .mobile__off {
    display: none !important; } }

.status-of-log {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .status-of-log .false-pas {
    color: #ff0000;
    font-size: 13px;
    width: -webkit-calc(100% - 15px);
    width: calc(100% - 15px);
    margin-left: 15px;
    margin-bottom: 20px; }
    @media (min-width: 767px) {
      .status-of-log .false-pas {
        margin-left: 0px; } }
  .status-of-log .false-mail {
    font-size: 13px;
    color: #01305c;
    width: -webkit-calc(100% - 15px);
    width: calc(100% - 15px);
    margin-left: 15px;
    margin-bottom: 20px; }
    @media (min-width: 767px) {
      .status-of-log .false-mail {
        margin-left: 0px; } }
  @media (max-width: 767px) {
    .status-of-log {
      text-align: left; } }
