body {
}

table {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;  
}

.signupFieldsContainer input:not([type="radio"]):not([type="checkbox"]) {
    width: 97%;
    float: left;
    box-sizing: border-box;
}

.signupFieldsContainer button[type="submit"] {
    width: 50%;
    margin: auto;
    display: block;
}

.typeOfOwnership:nth-child(n+2) {
    margin-left: 2%;
}

td {
    white-space: nowrap;
    margin-top: 0.5%;
}

td:nth-child(3n+1) {
    white-space: nowrap;
    text-align: right;
    width: 1%;
}

td:nth-child(3n+2) {
    margin-left: 0.5%;
    width: auto;
}

td:nth-child(3n+3) {
    padding-left: 0.5%;
    width: 46%;
    max-width: 46%;
}

td:nth-child(3n) > * {
    float: left;
}

.requiredFieldMarker {
    color: tomato;
    float: right;
}

.needFieldSpan {
    background-color: tomato;
    float: left;
    display: none;
}

.invalidFieldSpan {
    background-color: darkorange;
    float: left;
    display: none;
}

.checkedFieldIcon {
    height: 20px;
    width: auto;
    float: left;
    display: none;
}